.about {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8rem 10rem 0 10rem;
  }

  &__items {
    max-width: 50%;
    color: $color_gray;
  }

  &__desc {
    margin-top: 1rem;
    max-width: 48rem;

  }

  &__more {
    display: inline-block;
    margin-top: 4.1rem;
  }
}