.title-first {
  &__main {
    display: block;
    font-weight: 800;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    animation-name: leftToRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  &__sub {
    display: block;
    font-weight: 100;
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 0.5rem;
    margin-top: 1rem;
    animation-name: rightToLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
}

.title-secondary {
  color: transparent;
  text-align: center;
  font-weight: 800;
  letter-spacing: 1rem;
  font-size: 3.6rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-brown-dark, 0.7) 99.94%);
  -webkit-background-clip: text;
  transition: all 0.4s;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.05);
    text-shadow: 0 .4rem .4rem rgba($color-black, .25);
    //transition: all 0.4s;
  }
}