*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 5rem;
}

.container{
  background: rgba(247, 247, 247, 0.968627451);
}